{:deps {org.clojure/clojure {:mvn/version "1.12.0"}
        psi/ai {:local/root "../ai"}
        psi/tool-registry {:local/root "../tool-registry"}
        psi/session-state {:local/root "../session-state"}
        psi/workflow-registry {:local/root "../workflow-registry"}
        psi/workflow-runtime {:local/root "../workflow-runtime"}}}
