{:deps {psi/workflow-coordination {:local/root "../workflow-coordination"}
        org.clojure/clojure {:mvn/version "1.12.0"}
        com.fulcrologic/statecharts {:mvn/version "1.2.25"}
        metosin/malli {:mvn/version "0.16.4"}
        psi/session-state {:local/root "../session-state"}
        psi/tool-registry {:local/root "../tool-registry"}
        psi/deterministic-operation-registry {:local/root "../deterministic-operation-registry"}
        psi/deterministic-operation-runtime {:local/root "../deterministic-operation-runtime"}
        psi/session-profile {:local/root "../session-profile"}
        psi/workflow-registry {:local/root "../workflow-registry"}
        psi/workflow-step-materialization {:local/root "../workflow-step-materialization"}
        psi/turn-runtime {:local/root "../turn-runtime"}}}
