#kaocha/v1
 {:tests
  [{:id :unit
    :test-paths ["test"]
    :source-paths ["src"]
    :ns-patterns [".*-test$"]}]

  :color? true
  :fail-fast? false
  :capture-output? true
  :reporter [kaocha.report/dots]
  :plugins [:kaocha.plugin/hooks]
  :cloverage/opts {:ns-exclude-regex [".*-test$"]}
  :kaocha.hooks/pre-run [psi.test-hooks/pre-run]
  :kaocha.hooks/post-summary [psi.test-hooks/post-summary]}
