{:deps {org.clojure/clojure      {:mvn/version "1.12.0"}
        cheshire/cheshire          {:mvn/version "5.13.0"}
        clj-http/clj-http          {:mvn/version "3.13.0"}
        metosin/malli              {:mvn/version "0.16.4"}
        com.wsscode/pathom3        {:mvn/version "2025.01.16-alpha"}
        psi/engine                 {:local/root "../engine"}
        psi/query                  {:local/root "../query"}
        psi/tool-registry          {:local/root "../tool-registry"}}}
