{:deps {org.clojure/clojure     {:mvn/version "1.12.0"}
        psi/ai                  {:local/root "../ai"}
        psi/prompt-assets       {:local/root "../prompt-assets"}
        psi/session-state       {:local/root "../session-state"}
        psi/session-persistence {:local/root "../session-persistence"}
        psi/tool-registry       {:local/root "../tool-registry"}
        psi/turn-statechart     {:local/root "../turn-statechart"}
        psi/tool-runtime        {:local/root "../tool-runtime"}}}
