{:paths ["src"]
 :deps {org.clojure/clojure         {:mvn/version "1.12.0"}
        babashka/process            {:mvn/version "0.6.23"}
        com.fulcrologic/statecharts {:mvn/version "1.2.25"}
        taoensso/timbre             {:mvn/version "6.5.0"}
        psi/ai                      {:local/root "../../components/ai"}
        psi/agent-core              {:local/root "../../components/agent-core"}
        psi/agent-session           {:local/root "../../components/agent-session"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                      psi/extension-test-helpers {:local/root "../../components/extension-test-helpers"}}}}}
