{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        metosin/malli       {:mvn/version "0.16.4"}
        com.taoensso/timbre {:mvn/version "6.8.0"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha         {:mvn/version "1.91.1392"}
                      psi/extension-test-helpers  {:local/root "../../components/extension-test-helpers"}
                      psi/agent-session           {:local/root "../../components/agent-session"}}}}}
